*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div.Menybox{
  display: flex;
  justify-content: center;
  padding: 5px;
  flex-wrap: wrap;
}
div.dropdownbox{
  display: flex;
  justify-content: flex-start;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: -5px;
}
div.Meny{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 130px;
  background-color: #d9ab73;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  flex-wrap: wrap-reverse;
  align-content: center;
}
div.Links{
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 300px;
  font-size: 40pt;
  font-family: impact;
  /*border: 1px solid blue;*/
  margin-left: 40px;
  margin-right: 40px;
  user-select: none;
  align-items: center;
}
div.Titel{
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-size: 60pt;
  font-family: impact;
  margin-left: 40px;
  margin-right: 40px;
  user-select: none;
  -webkit-text-stroke: 1px white;
}
div.Menybtn > img{
  width: 60px;
}
div.Hembtn, .Menybtn{
  display: flex;
  text-align: center;
  /*border: 1px solid black;*/
  padding: 5px;
  /*border-radius: 4px;*/
  background-color: #d9ab73/*#f2dfbb*/;
  color: #732407;
  align-content: center;
  /*box-shadow: inset 0px -10px 9px -10px black, 0px 5px 20px -5px black;*/
  cursor: pointer;
}
div.Menydropdown{
  display: none;
  width: auto;
  height: auto;
  background-color: #f2dfbb;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
div.Bakgrund{
  display: flex;
  position: fixed;
  flex-wrap: nowrap;
  z-index: -1;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
div.Bakgrund > img{
  filter: blur(6px);
  object-fit: contain;
  object-position: center;
}
@media only screen and (min-aspect-ratio: 16/9) {
  div.Bakgrund > img{
    width: 100vw;
  }
}
@media only screen and (max-aspect-ratio: 16/9) {
  div.Bakgrund > img{
    height: 100vh;
  }
}
